In [8]:
l1 = [10,20,30]
l2 = [100,120,130]

#output must be like below
#l3 = [110,140,160]

In [9]:
l3=[]
for i in range(len(l1)):
    l3.append(l1[i]+l2[i])
print(l3)

[110, 140, 160]

$zip$

In [16]:
# l1 is one list : i
# l2 is one list : j

for i,j in zip(l1,l2):
    l3.append(i+j)
l3

[110, 140, 160, 110, 140, 160, 110, 140, 160, 110, 140, 160, 110, 140, 160]

In [17]:

l3=[]
for i,j in zip(l1,l2):
    print(i,j)

10 100
20 120
30 130

In [18]:
l3=[i+j for i,j in zip(l1,l2)]
l3

[110, 140, 160]

In [20]:
l1 = ['A','B','C']
l2 = [21,23,24]

for i,j in zip(l1,l2):
    print(f"{i} has age {j}")

A has age 21
B has age 23
C has age 24

**Dictionary**
- its a key:value pair
- in above e.g., A:21,b:23

In [22]:
#{<key>:<value>}

d1 = {"A":21,"B":22,"C":23}
d1

{'A': 21, 'B': 22, 'C': 23}

In [23]:
d2 = {21:"A",22:"B",23:"C"}
d2

{21: 'A', 22: 'B', 23: 'C'}

In [25]:
d3 = {'fruits':'apple'}
d3

{'fruits': 'apple'}

In [27]:
d4 = {21:21}
d4

{21: 21}

In [31]:
d5={'Fruits':['Banana','Papaya','Mango']}

d5

{'Fruits': ('Banana', 'Papaya', 'Mango')}

In [35]:
d6={'Fruits':('Banana','Papaya','Mango')}
d6

{'Fruits': ('Banana', 'Papaya', 'Mango')}

In [37]:
d7 = {['Banana','Papaya','Mango']:'Fruits'}
d7
#list cannot be a key

TypeError: unhashable type: 'list'

In [39]:
d8 = {'Fruits':('Banana','Papaya','Mango')}
d8

{'Fruits': ('Banana', 'Papaya', 'Mango')}

In [40]:
d9 = {('Banana','Papaya','Mango'):'Fruits'}
d9

{('Banana', 'Papaya', 'Mango'): 'Fruits'}

In [41]:
d={'sub':'ds'}
d10={"Name":d}
d10

{'Name': {'sub': 'ds'}}

In [43]:
d11 = {"A":10,"A":20}
d11
## dictionary works like a database
# values an be duplicate, but keys cannot be duplicate
# if key is not changing, it will consider latest value

{'A': 20}

In [44]:
d12 = {20:'C',30:'D'}
d12

{20: 'C', 30: 'D'}

- max
- min
- len
- sorted
- reversed

## Keys are important in dictionary

In [5]:
d1 = {'Asha':20,'Usha':19,'Lata':23}
max(d1)

#it takes higher ASCII value of key

'Usha'

In [6]:
min(d1)

# #it takes lower ASCII value of key

'Asha'

In [4]:
len(d1)

# 3 pair so length is 3

3

In [8]:
sorted(d1)
# sorts as per the keys

['Asha', 'Lata', 'Usha']

In [9]:
reversed(d1)

In [34]:
d1 = {'Asha':20,'Usha':19,'Lata':23}
for i in d1:
    print(reversed(d1))

NameError: name 'reverse' is not defined

In [14]:
d1 = {'Asha':20,'Usha':19,'Lata':23}
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
d2 = {20:'A',20:'B',20:'C'}
sum(d2)

20

In [16]:
d3 = {21:'A',23:'B',45:'C'}
sum(d3)

89

In [27]:
## in operator

'Asha' in d1
# Asha is key

True

In [26]:
'A' in d3
# 'A' is value

False

In [25]:
20 in d2
# 20 is key

True

In [36]:
# for loop
for i in d1:
    print(i)
# keys are in output nit values

Asha
Usha
Lata

$index$

In [38]:
d4 = {'Harry':30,'Hermoine':31,'Ron':32}
d4[0]

KeyError: 0

- If you want to retrieve the value we need to use the corresponding key

In [41]:
d4['Harry']

30

In [42]:
for i in d4:
    print(i,d4[i])

Harry 30
Hermoine 31
Ron 32

***% Dictionary to List %***

In [44]:
names=[]
ages=[]
for i in d4:
    names.append(i)
    ages.append(d4[i])
names,ages

(['Harry', 'Hermoine', 'Ron'], [30, 31, 32])

In [46]:
for i,j in zip(names,ages):
    print(i,j)

Harry 30
Hermoine 31
Ron 32

In [12]:
# Q. Write a program, ask user to get random numbers
# Perform even/odd operations
# # {'even':[2,4,6,8],'odd':[1,3,5,7]}
even=[]
odd=[]
##or even,odd=[],[]
d={}
import random
for i in range(10):
    num = random.randint(11,20)
    if num%2==0:
        d['even']=even.append(num)
    else:
        d['odd']=odd.append(num)

even
odd
d

{'odd': None, 'even': None}

In [13]:
even=[]
odd=[]
##or even,odd=[],[]
d={}
import random
for i in range(10):
    num = random.randint(11,20)
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)

d['even']=even
d['odd']=odd
d

{'even': [16, 12, 12, 18, 20, 14, 12, 14], 'odd': [11, 13]}

In [14]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [20]:
## Explore Methods in dictionary

In [17]:
d1 = {'Veg':'Cabbage','Non-veg':'Fish'}
d1.clear()
d1

{}

In [19]:
d1.copy('Veg':'Potato')

SyntaxError: invalid syntax (967314734.py, line 1)

# Feb 2025

In [33]:

names = ['Ramesh','Suresh','Sathish']
age = [20,24,25]
# Ramesh age is 20
# Suresh age is 24

In [5]:
for i in range(len(names)):
    print(f"{names[i]} age is {age[i]}")

Ramesh age is 20
Suresh age is 24
Sathish age is 25

## zip

In [7]:
names = ['Ramesh','Suresh','Sathish']
age = [20,24,25]
for i,j in zip(names,age):
    print(i,j)
    print(f"{i} age is {j}")

Ramesh 20
Ramesh age is 20
Suresh 24
Suresh age is 24
Sathish 25
Sathish age is 25

In [11]:
names = ['Ramesh','Suresh','Sathish']
age = [20,24,25]
for i,j in zip(names,age):
    print(i)
    print(j)

Ramesh
20
Suresh
24
Sathish
25

In [13]:
# list comprehension
o = [print(i,j) for i,j in zip(names,age)]

Ramesh 20
Suresh 24
Sathish 25

In [ ]:
names = ['Ramesh','Suresh','Sathish']
age = [20,24,25]

**Dictionary**

- if you want to pair any values, it can done using dictionary
- its a key:value pair
- its represented in curly braces **{key:value}**
- Rameshand 20 years both are pair -- **{'Ramesh',20}**

In [15]:
d1 = {'A':2, 'B':3, 'C':4}
d1

{'A': 2, 'B': 3, 'C': 4}

In [16]:
d2 = {3:'D',5:'E',6:'F'}
d2

{3: 'D', 5: 'E', 6: 'F'}

In [43]:
# Make dictionary in possible ways

d3 = {'A':[3,4,5], 5:'Red'}

d4 = {2:(3,4,5), 56:'White'}

d5 = {(1,2):'R'}

## d6 = {[6,7,8]:'T'} --> TypeError: unhashable type: 'list'

## d7 = {{'fuel':'petrol'}:{'q':'99'}}  ---> TypeError: unhashable type: 'dict'

d8 = {1111:{'q':'99'}} 

d9 = {'a':'34','F':54}

d10 = {'Ram':33, 'Ram':34}  

## if there are same key names, it will take the latest value
## Dictionary is like a database

d11 = {'Ram':33, 'Ram':33} 

# here it will give output only once
# Dictionary will not allow duplicates

d12 = {'A': 23, 'B': 23}

# In dictionary keys cannot be duplicate but values can be duplicate

d13 = {20:'G', 20: 'H'}

d14 = {'True':'True'}

d15 = {True: 'true'}

d16 = {'Fruits': ['Apple', 'Banana']}

## d17 = {['Apple', 'Banana']: 'Fruits'}

d18 = {'Fruits': ('Apple', 'Banana')}

d19 = {('Apple', 'Banana'): 'Fruits'}


d3,d4,d5,d8,d9,d10,d11,d12, d13, d14, d15, d16, d18, d19

({'A': [3, 4, 5], 5: 'Red'},
 {2: (3, 4, 5), 56: 'White'},
 {(1, 2): 'R'},
 {1111: {'q': '99'}},
 {'a': '34', 'F': 54},
 {'Ram': 34},
 {'Ram': 33},
 {'A': 23, 'B': 23},
 {20: 'H'},
 {'True': 'True'},
 {True: 'true'},
 {'Fruits': ['Apple', 'Banana']},
 {'Fruits': ('Apple', 'Banana')},
 {('Apple', 'Banana'): 'Fruits'})

In [1]:
### list as keys fails because list has mutablebehaviour
### tuple works as key 

dict1 = {'Apple':10, 'Banana':30, 'Grapes':40}
max(dict1)

'Grapes'

In [2]:
dict2 = {'Apple':10,'apple':30}
max(dict2)

'apple'

In [3]:
dict3 = {20:'Apple',30:'Banana', 50:'Grapes','Banana':30}
max(dict3)

TypeError: '>' not supported between instances of 'str' and 'int'

In [9]:
dict1 = {'Apple':10, 'Banana':30, 'Grapes':40}

dict2 = {'Apple':10,'apple':30}

dict3 = {20:'Apple',30:'Banana', 50:'Grapes','Banana':30}
min(dict1), min(dict2), 
#min(dict3)

('Apple', 'Apple')

In [10]:
reversed(dict1)

In [11]:
sorted(dict1)

['Apple', 'Banana', 'Grapes']

In [12]:
len(dict2)

2

In [19]:
dict1 = {'Apple':10, 'Beetroot':30, 'Carrot':40}
'Apple' in dict1

True

In [14]:
20 in dict1

False

In [16]:
'Apple':20 in dict1

## keys are important

SyntaxError: illegal target for annotation (2654626932.py, line 1)

In [20]:
for i in dict1:
    print(i)

Apple
Beetroot
Carrot

**index**

In [22]:
l1 = [10,20,30]
l1[0]

10

In [23]:
str1='python'
str1[0]

'p'

In [24]:
dict1 = {'Apple':10, 'Beetroot':30, 'Carrot':40}
dict1[0]

KeyError: 0

**how to extract the values**

- in dictionary wee have a concept key:value pair
- keys are very important
- in order to get the values we need to take the keys help

In [27]:
dict1 = {'Apple':10, 'Beetroot':30, 'Carrot':40}
dict1['Apple'],dict1['Carrot']

## so, call the values by using keys

(10, 40)

In [29]:
dict1 = {'Apple':10, 'Beetroot':30, 'Carrot':40}

for i in dict1:
    print(dict1[i])

10
30
40

In [30]:
dict1 = {'Apple':10, 'Beetroot':30, 'Carrot':40}

for i in dict1:
    print(i,dict1[i])

Apple 10
Beetroot 30
Carrot 40

In [33]:
names = ['Ramesh','Suresh','Sathish']
age = [20,24,25]

names = {'Ramesh':20,'Suresh':24,'Sathish':25}
# Ramesh age is 20
for i in names:
    print(f'{i} age is {names[i]}')

#or
# for key in names:
#value=names[key]
#print(f'{key} age is {value}')

Ramesh age is 20
Suresh age is 24
Sathish age is 25

In [34]:
## range means only number will come
# number is not useful its a pair

In [41]:
d = {'Fruits':['Apple','Beetroot','Carrot']}
#get carrot

d['Fruits'][2]

'Carrot'

In [50]:
d = {'Fruits':{'Apple':['sweet','sour','green']}}
d['Fruits']['Apple'][2]

'green'

In [61]:
d = {'Fruits':[{'Cost':[50]}]}

##d['Fruits'][0],d['Fruits'][0]['Cost'][0]

#d['Fruits']  list
#d['Fruits'][0]  dict
##d['Fruits'][0]['Cost'] list
##d['Fruits'][0]['Cost'][0]

d['Fruits'][0]['Cost'][0]

50

In [77]:
d1 = {'Fruits':['Apple'],'Cost':[{'1kg':[20,30,40],'2kg':None}]}
## get None and 40

len(d1)

d1['Cost'][0]['1kg'][2], d1['Cost'][0]['2kg']

(40, None)

In [88]:
d2 = {'Fruits':{'Orange':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}

# get Shambhaji

d2['Fruits']['Orange']['Nagpur']['MH']['King']['Shivaji']

## Practice sets and get how to get Shambaji

{'Shambaji'}

**how to create an empty dictionary**

- now onwards focus on creating empty list, strings and dictionary
- we will take empty list and use append operation
- we will take empty string and use concatenation
- we will take empty dictionary and use key:value pair concept

In [89]:
# list
l=[]
l.append(1)
l.append(2)
l

[1, 2]

In [91]:
# strings

s=''
s=s+'p'
s=s+'y'
s=s+'t'
s=s+'h'
s=s+'o'
s=s+'n'
s

'python'

In [94]:
# dictionary

d = {}
d['x'] = 10
d['y'] = 20
d['z'] = 30
d

# d[key]=value
# d[i] = j

{'x': 10, 'y': 20, 'z': 30}

**how to convert list to dictionary**

In [115]:
names = ['A','B','C','D']   ## i
words = ['Apple','Bat','Cat','Dog'] ## j
dict={}
for i,j in zip(names,words):
        dict[i]=j
dict

{'A': 'Apple', 'B': 'Bat', 'C': 'Cat', 'D': 'Dog'}

**dictionary comprehension**

- for list comprehension we written everything inside list
- for dictionary comprehension we written everything inside dictionary

In [117]:
# list comprehension: [<output>_<for loop>]
# dictionary comprehension: [<key:value>_<for loop>]
names = ['A','B','C','D']   ## i
words = ['Apple','Bat','Cat','Dog'] ## j

{i:j for i,j in zip(names,words)}

{'A': 'Apple', 'B': 'Bat', 'C': 'Cat', 'D': 'Dog'}

**mutable-immutable**

- list  mutable
- dictionary  mutable
- strings  immutable
- tuple immutable
- in dictionary we can change values using keys

In [119]:
dict1 = {'Apple':10, 'Beetroot':30, 'Carrot':40}

dict1 ['Apple']=50

dict1

{'Apple': 50, 'Beetroot': 30, 'Carrot': 40}

**methods**

In [121]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

- clear
- copy
- keys
- values
- items

In [20]:
## copy

dict1 = {'Apple':10, 'Beetroot':30, 'Carrot':40}

dict1.clear()

##help(dict1.clear)

In [7]:
dict1

{}

In [21]:
## copy

dict1 = {'Apple':10, 'Beetroot':30, 'Carrot':40}

dcopy = dict1.copy()

##help(dict1.copy)

In [19]:
dcopy

{'Apple': 10, 'Beetroot': 30, 'Carrot': 40}

In [25]:
## keys

dict1 = {'Apple':10, 'Beetroot':30, 'Carrot':40}

##help(dict1.keys)

dict1.keys()

dict_keys(['Apple', 'Beetroot', 'Carrot'])

In [27]:
## values

##help(dict1.values)

dict1.values()

dict_values([10, 30, 40])

In [30]:
## items

dict1 = {'Apple':10, 'Beetroot':30, 'Carrot':40}

## help(dict1.items)

dict1.items(),dict1

(dict_items([('Apple', 10), ('Beetroot', 30), ('Carrot', 40)]),
 {'Apple': 10, 'Beetroot': 30, 'Carrot': 40})

**Convert dictionary to list**

- to convert it we need to separate keys and values
- then apply list type casting

In [32]:
dict1 = {'Apple':10, 'Beetroot':30, 'Carrot':40}
keys=dict1.keys()
keys_list=list(keys)
keys_list

['Apple', 'Beetroot', 'Carrot']

- list to string using join
- string to list using split
- list to dictionary using zip
- dict to list using typecasting

In [35]:
dict1 = {'Apple':10, 'Beetroot':30, 'Carrot':40}
values=dict1.values()
values_list=list(values)
values_list

[10, 30, 40]

In [37]:
dict1 = {'Apple':10, 'Beetroot':30, 'Carrot':40}
items=dict1.items()
items_list=list(items)
items_list

[('Apple', 10), ('Beetroot', 30), ('Carrot', 40)]

In [39]:
type(keys_list),type(keys)

(list, dict_keys)

In [41]:
keys_list.count('Apple')

1

In [72]:
input = 'virat.kohli@rcb.com;rohit.sharma@rcb.com;ms.dhoni@csk.com'
## output

l1 = input.split(';')
fname,sname,cname = [],[],[]
d={}
for i in l1:
    first_dot = i.index('.')
    second_dot = i.index('.',first_dot+1)
    at_the_rate=i.index('@')
    
    fname.append(i[:first_dot])
    sname.append(i[first_dot+1:at_the_rate])
    cname.append(i[at_the_rate+1:second_dot])
d['Firstname']=fname
d['Secondname']=sname
d['Companyname']=cname

d

{'Firstname': ['virat', 'rohit', 'ms'],
 'Secondname': ['kohli', 'sharma', 'dhoni'],
 'Companyname': ['rcb', 'rcb', 'csk']}

In [86]:

dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

### pop
### popitem

In [87]:
# pop

#help(dict.pop)

dict1 = {'Apple':10, 'Beetroot':30, 'Carrot':40}
dict1.pop('Apple')

10

In [85]:
# popitem

#help(dict.popitem)

dict1 = {'Apple':10, 'Beetroot':30, 'Carrot':40, 'Watermelon':90}
dict1.popitem()

('Watermelon', 90)

In [84]:
help(dict.popitem)

Help on method_descriptor:

popitem(self, /)
    Remove and return a (key, value) pair as a 2-tuple.

    Pairs are returned in LIFO (last-in, first-out) order.
    Raises KeyError if the dict is empty.

**pop** in dictionary same as  **remove** in list

**pop item ** in dictionary, same as  **pop** in list

**get**

In [93]:
dict1 = {'Apple':10, 'Beetroot':30, 'Carrot':40, 'Watermelon':90}

#help(dict.get)

dict1.get('Watermelon')

90

In [96]:
dict1['Watermelon'] ## key works as an index as well

90

**update**

- update is similar to **list extend**
- take 2 dictionaries and apply update method

In [102]:
dict1 = {'Apple':10, 'Beetroot':30, 'Carrot':40, 'Watermelon':90}
dict2 = {'Potato':40, 'Tomato':15,'Onion':38}

dict1.update(dict2)

#help(dict.update)
dict1

{'Apple': 10,
 'Beetroot': 30,
 'Carrot': 40,
 'Watermelon': 90,
 'Potato': 40,
 'Tomato': 15,
 'Onion': 38}

In [103]:
l1 = ['S','G',45,12]
l2 = ['$',23,'I','(']
l1.extend(l2)
l1

['S', 'G', 45, 12, '$', 23, 'I', '(']

**setdefault**

- suppose already existed dictionary available
- we can update the dictionary with new key:value pair
- **setdefault** is similar to **list append**
- dictionary is key:value concept it never involves index operations
- so we use get method to extract values

In [109]:
dict2 = {'Potato':40, 'Tomato':15,'Onion':38}
dict2.setdefault('Potato')
dict2.setdefault('Potato',45)

dict2

{'Potato': 40, 'Tomato': 15, 'Onion': 38}

**fromkeys**

- first create a dictionary with different keys but same value
- fromkeys will takean argument **iterable**
- try to provide an iterator i.e. string,list,tuple

In [113]:
dict3 = {}

names=['Python']
dict3.fromkeys(names,'course')

{'Python': 'course'}

In [114]:
dict3.fromkeys('Python')

{'P': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

- list, string, tuple have **count**
- But dictionary does not have **count** because it does not allow **duplicates**
- strings have **find** but list does not have **find**